@page "/Invoices"
@using DataLogic.Repositories
@using DataLayer.Models
@using Microsoft.EntityFrameworkCore
@inject InvoiceRepository _invoiceRepository
@inject NavigationManager _navigationManager
<div class="card crud-card">
    <h4><strong> Facturas </strong></h4>

    <div class="card-body crud-card-body">

        <RadzenDataGrid Data="@invoices" TItem="Invoice" PagerPosition="PagerPosition.Bottom" AllowPaging="true" AllowSorting="true" PageSize="10"
                        SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selected>
            <Columns>
                <RadzenDataGridColumn TItem="Invoice" Property="ClientID" Title="Cliente">
                    <Template Context="data">
                        @data.Client.Name
                    </Template>
                </RadzenDataGridColumn>  
                <RadzenDataGridColumn TItem="Invoice" Property="ClientID" Title="RNC">
                    <Template Context="data">
                        @data.Client.Rnc
                    </Template>
                </RadzenDataGridColumn> 
                <RadzenDataGridColumn TItem="Invoice" Property="ProjectID" Title="Proyecto">
                      <Template Context="data">
                        @data.Project.Name
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Invoice" Property="SubTotal" Title="SubTotal" />
                <RadzenDataGridColumn TItem="Invoice" Property="Taxes" Title="Impuestos" />
                <RadzenDataGridColumn TItem="Invoice" Property="Discount" Title="Descuentos" />
                <RadzenDataGridColumn TItem="Invoice" Property="Total" Title="Total" />
                <RadzenDataGridColumn TItem="Invoice" Property="CreatedOn" Title="Fecha Realización" />
                <RadzenDataGridColumn TItem="Invoice" Property="Total" Title="Imprimir">
                    <Template Context="data">

                        <a href="/print/{@data.ID}" target="_blank" class="btn btn-success">
                            IMPRIMIR
                        </a>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>

        @*<RadzenPager ShowPagingSummary="true" PagingSummaryFormat="@paginationService.pagingSummaryFormat" HorizontalAlign="HorizontalAlign.Right" Count="@paginationService.count" PageSize="@paginationService.pageIndex" PageNumbersCount="10" PageChanged="@PageChanged" />*@


        <div class="options ">
            <div>
                <a @onclick="@OpenEditModal" style="margin-right:10px"><i class="fas fa-edit"></i> Editar</a>
                <a @onclick="@OpenDeleteModal" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash-alt"></i> Eliminar</a>
            </div>
            <div>
                <a href="/" ><i class="fas fa-plus-circle" style="color: #667EEA;"></i> Facturar</a>
            </div>
        </div>



        @if (editBtn)
        {
            <div class="card" style="margin-top:5rem;">
                <div class="card-body ">
                    @if (selected != null)
                    {
                        <CascadingValue Value="this">
                           @* <ClientCreateUpdate update=true client="selected[0]"></ClientCreateUpdate>*@
                        </CascadingValue>
                    }
                </div>
            </div>
        }
        @if (delBtn)
        {
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body text-center">
                            <i class="fas fa-exclamation fa-5x" style="color: #F8BB85"></i>
                            <h2> Eliminar</h2>
                            <h4>Esta seguro que desea proceder ?  </h4>
                        </div>
                        <div class=" text-center mb-5">
                            <button @onclick="@Delete" class="btn btn-primary" style="padding:0.5rem 2.5rem" data-dismiss="modal">Si</button>
                            <button class="btn btn-danger" data-dismiss="modal" style="padding:0.5rem 2.5rem">No</button>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>

@code {
    private List<Invoice> invoices = new List<Invoice>();
    private IList<Invoice> selected;
    private bool createBtn;
    private bool editBtn;
    private bool delBtn;

    protected override void OnInitialized()
    {
        RefreshState();
    }
    private void Delete()
    {

    }
    private async void PrintInvoice(string id){
    }
    public void CloseCreateComponent()
    {
        this.createBtn = false;
        StateHasChanged();
    }

    public void CloseEditComponent()
    {
        this.editBtn = false;
        StateHasChanged();
    }
    public void OpenCreateModal()
    {
        this.editBtn = false;
        this.delBtn = false;
        this.createBtn = true;
    }

    public void OpenEditModal()
    {
        if (selected.Any() && selected[0] != null)
        {
            _navigationManager.NavigateTo($"/invoicesedit/{selected[0].ID}");
        }
    }

    public void OpenDeleteModal()
    {
      
    }

    public void RefreshState()
    { 
        try
        {
            invoices = _invoiceRepository.db.Invoices.Include(x=>x.Project).Include(x=>x.Client).ToList();
            StateHasChanged();
        }
        catch (Exception)
        {
            
            throw;
        }
    
    }
}
